body {
  font-family:helvetica, arial, sans-serif;
  font-size:80%;
  margin:10px;
}

#header {
  padding-bottom:1.5em;
  padding-top:1.5em;
}

#header h1 {
  font-size: 156%;
  display:inline;
  padding-bottom:43px;
  padding-left:75px;
  padding-top:40px;
}

#footer {
  margin-left: 24px;
  margin-top: 12px;
}

#sign-in-image {
  position: relative;
  bottom: 5px;
}

#flash {
  height:15px;
}

.settings-content {
  margin: 6px 6px 0 6px;
  padding: 10px 10px 10px 10px;
  color: #333;
  border: 1px solid #dedede;
  -webkit-border-radius: 5px 5px;
}

.settings-table {
  width: 100%;
  font-size: 1em;
}

.settings-table .left,
.settings-table .right {
  vertical-align: top;
  border-bottom: 0 dotted #aaa;
}

.settings-table th {
  text-align: right;
  width: 1%;
  white-space: nowrap;
  padding: 12px 24px 12px 12px;
}

.settings-table td {
  width: 99%;
  white-space: nowrap;
  padding: 12px;
}

.twitter-share-button {
  position:relative;
  top:5px;
}

.at_symbol {
  position:relative;
  font-size: 1.2em;
  top:2px;
}