#profileImage {
 float: left;
 margin: 0 5px 0 0;
}

#screenName {
  font-weight: bold;  
}

#screenName > a {
  text-decoration: none;
  color: #2276BB;
}

#screenName > a:hover {
  text-decoration: underline;
}

#information {
  float: left;
}

#actions {
  float: right;
}

#icon {
  position: relative;
  top: 3px;
}

.link {
  font-size: 12px;
  color: #999;
}

.link > a {
  text-decoration: none;
  color: #999;
  
}

.link > a:hover {
  text-decoration: underline;
}