#profileImage {
 float: left;
 margin: 0 5px 0 0;
}

#screenName {
  font-weight: bold;  
}

#screenName > a {
  text-decoration: none;
  color: #2276BB;
}

#screenName > a:hover {
  text-decoration: underline;
}

#information {
  font-size: 12px;
  float: left;
  color: #999;
}

#information > a {
  text-decoration: none;
  color: #999;
  
}

#information > a:hover {
  text-decoration: underline;
}